include LICENSE
include readme.md
include contributing.md
include security.md
include pyproject.toml
include MANIFEST.in
recursive-include src *.py
recursive-include presets *.json
recursive-include irs *.irs
global-exclude __pycache__
global-exclude *.py[co]
